.main_area_lgcw {
   display: flex;
   justify-content: space-between;
   max-width: 1000px;
   width: 90%;
   box-sizing: border-box;
   margin-top: 25px;
 }
 .lgcw_common {
   background: #fff;
   border-radius: 5px;
   border: 1px solid #ddd;
   padding: 20px 25px;
 }
 .body_area_lgcw {
   flex-basis: 70%;
   margin-right: 5%;
 }
 .sidebar_area_lgcw {
   flex-basis: 25%;
 }
 .main_area_lgcw h3#title {
   display: block;
   font-weight: bold;
   font-size: 25px;
   padding: 10px;
   border-left: 5px solid #bd5fff;
   margin-bottom: 20px;
   margin-top: 5px;
 }
 
 .main_area_lgcw label {
   display: block;
   font-weight: bold;
   font-size: 16px;
   margin-bottom: 15px;
 }

 .main_area_lgcw small {
  color: #636e72;
  display: block;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 15px;
}
 
 .main_area_lgcw input {
   display: block;
   font-weight: bold;
   font-size: 14px;
   margin-bottom: 15px;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-shadow: 0 0 10px #ddd;
   width: 90%;
   padding: 15px;
 }
 .main_area_lgcw input[type="color"] {
   padding: 5px;
   cursor: pointer;
   width: 100px;
   height: 70px;
 }
 .main_area_lgcw input[type="submit"] {
   background: #bd5fff;
   border: 1px solid #bd5fff;
   color: #fff;
   padding: 8px 35px;
   width: auto;
   cursor: pointer;
   transition: 0.5s;
 }
 .main_area_lgcw input[type="submit"]:hover {
   background: #262626;
   border: 1px solid #262626;
   /* color: #fff; */
 }